<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/footerinc :: foot"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
 
</body>
</html>